# {{ ansible_managed }}

server {
    listen 127.0.0.1:{{ nginx_stub_status_port }};
    server_name localhost;
    location /stub_status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        allow 100.64.0.0/10;  # Tailscale IP range
        deny all;
    }
}
