#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}

user www-data;
worker_processes {{ nginx_worker_processes }};
pid /run/nginx.pid;
error_log /var/log/nginx/error.log;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections {{ nginx_worker_connections }};
}


http {
    ##
    # Basic Settings
    ##

    sendfile on;
    tcp_nopush on;
    types_hash_max_size 2048;
    server_tokens off;

    real_ip_header X-Forwarded-For;
    real_ip_recursive on;
    {% for cidr in nginx_matrix_ingress_trusted_proxies %}
    set_real_ip_from {{ cidr }};
    {% endfor %}

    # server_names_hash_bucket_size 64;
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # SSL Settings
    ##

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    ##
    # Logging Settings
    ##

    log_format logfmt escape=json
      'ts=$time_iso8601 '
      'method=$request_method '
      'request_uri="$request_uri" '
      'uri="$uri" '
      'status=$status '
      'host="$host" '
      'scheme=$scheme '
      'x_forwarded_for="$http_x_forwarded_for" '
      'cf_connecting_ip="$http_cf_connecting_ip" '
      'user_http_referer="$http_referer" '
      'user_agent="$http_user_agent" '
      'user_remote_addr=$remote_addr '
      'user_remote_port=$remote_port '
      'proxy_addr=$realip_remote_addr '
      'proxy_port=$realip_remote_port '
      'request_id="$request_id" '
      'bytes_request="$request_length" '
      'bytes_response="$body_bytes_sent" '
      'server_protocol="$server_protocol" '
      'server_port="$server_port" '
      'upstream_addr="$upstream_addr" '
      'time_request="$request_time" '
      'time_upstream_connect="$upstream_connect_time" '
      'time_upstream_header="$upstream_header_time" '
      'time_upstream_response="$upstream_response_time" '
      'synapse_backend="$synapse_backend" '
      'synapse_uri_group="$synapse_uri_group"'
      ;

    access_log /var/log/nginx/access.log logfmt;

    ##
    # Gzip Settings
    ##

    gzip on;

    # gzip_vary on;
    # gzip_proxied any;
    # gzip_comp_level 6;
    # gzip_buffers 16 8k;
    # gzip_http_version 1.1;
    # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    limit_req_zone $mxid_localpart zone=initial-syncs:10m rate=5r/m;
    limit_req_zone $mxid_localpart zone=syncs:10m rate=5r/m;

    keepalive_timeout {{ nginx_keepalive_timeout }};
    send_timeout {{ nginx_send_timeout }};
    client_header_timeout {{ nginx_client_header_timeout }};
    client_body_timeout {{ nginx_client_body_timeout }};

    ##
    # Virtual Host Configs
    ##

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
