# {{ ansible_managed }}

server {
    listen {{ tailscale_ip }}:8081;
    server_name localhost;
    location / {
        root /usr/share/nginx/html/;
        try_files /prometheus_sd.json =404;
        access_log off;
        allow 127.0.0.1;
        allow 100.64.0.0/10;  # Tailscale IP range
        default_type application/json;
        deny all;
    }
}
