# {{ ansible_managed }}
add_header X-debug-backend $synapse_backend;
add_header X-debug-group $synapse_uri_group;
proxy_set_header X-Request-Id $request_id;
proxy_set_header Host $http_host;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $remote_addr;
proxy_set_header X-Forwarded-Proto $scheme;
proxy_http_version 1.1;
proxy_connect_timeout 5s;
proxy_send_timeout 90s;
