#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
# ansible role at {{ matrix_ansible_url }}
###########################################
---
version: 1

formatters:
    precise:
        format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'
    structured:
        class: synapse.logging.TerseJsonFormatter

filters:
    context:
        (): synapse.util.logcontext.LoggingContextFilter
        request: ""

handlers:
    console:
        class: logging.StreamHandler
        formatter: structured
        filters: [context]

loggers:
    synapse:
        level: {{ matrix_synapse_log_level }}
    synapse.storage.SQL:
        level: {{ matrix_synapse_storage_sql_log_level }}


{% for logger in matrix_synapse_additional_loggers %}
    {{ logger.name }}:
        level: {{ logger.level }}
{% endfor %}

root:
    level: {{ matrix_synapse_root_log_level }}
    handlers: [console]
