#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://vector.dev/docs/setup/configuration/

# Set global options
data_dir: "/var/lib/vector"

api:
  enabled: true
  address: "127.0.0.1:8686"

sources:
  {{ vector_sources | default({})  | to_nice_yaml(indent=2) | indent(2, False) }}

transforms:
  {{ vector_transforms | default({})  | to_nice_yaml(indent=2) | indent(2, False)  }}

sinks:
  {{ vector_sinks | default({}) | to_nice_yaml(indent=2) | indent(2, False)  }}
