{{ ansible_managed | comment }}
# https://vector.dev/docs/setup/configuration/
# https://vector.dev/docs/reference/cli/
# https://vector.dev/docs/setup/configuration/#environment-variables

VECTOR_CONFIG_YAML=/etc/vector/vector.yaml
