# {{ ansible_managed }}

Package: prometheus-node-exporter
Pin: release n={{ node_exporter_debian_release }}
Pin-Priority: 501

Package: prometheus
Pin: release n={{ node_exporter_debian_release }}
Pin-Priority: 501
