[Unit]
Description=Tailscale Connection Service
After=tailscaled.service
Wants=tailscaled.service
{% if tailscale_up_logout_on_shutdown_enabled %}
DefaultDependencies=no
Before=shutdown.target halt.target
{% endif %}

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tailscale-connect.sh
RemainAfterExit=yes
{% if tailscale_up_logout_on_shutdown_enabled %}
ExecStop=/usr/bin/tailscale logout
TimeoutStopSec=60
{% endif %}

[Install]
WantedBy=multi-user.target

