#jinja2: lstrip_blocks: "True"
---
apiVersion: 1
datasources:
  - name: Alertmanager
    type: alertmanager
    url: http://alertmanager:{{ mon_alertmanager_port }}/alertmanager
    access: proxy
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: true
    version: 1
    editable: false
