#jinja2: lstrip_blocks: "True"
---
apiVersion: 1
datasources:
  - name: "{{ item.deployment_id }}"
    type: cloudwatch
    jsonData:
      authType: default
      defaultRegion: "{{ item.default_region }}"
      assumeRoleArn: "{{ item.role_arn }}"
      externalId: "{{ item.external_id }}"
    version: 1
    editable: false
