[Unit]
Description=Updates nginx trusted reverse proxy list
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/nginx_reverse_proxy_updater.py
Environment=NGINX_PROXY_CONF_PATH={{ nginx_trusted_proxies_nginx_conf_file }}
Environment=NGINX_PROXY_METRICS_PATH={{ nginx_trusted_proxies_metrics_file }}
Environment=NGINX_PROXY_WORKDIR={{ nginx_trusted_proxies_workdir }}
KillMode=process
WorkingDirectory={{ nginx_trusted_proxies_workdir }}
ReadWritePaths={{ nginx_trusted_proxies_workdir }} {{ nginx_trusted_proxies_nginx_conf_file | ansible.builtin.dirname }} {{ nginx_trusted_proxies_metrics_file | ansible.builtin. dirname }} /run/nginx.pid /var/log/nginx/
ProtectSystem=strict


[Install]
WantedBy=multi-user.target
