[Unit]
Description=Updates nginx's trusted reverse proxy list

[Timer]
Unit=nginx-reverse-proxy-updater.service
OnCalendar={{ nginx_trusted_proxies_update_on_calendar }}

[Install]
WantedBy=timers.target
