# {{ ansible_managed }}

{% if podman_from_debian_snapshot %}
# Never prefer packages from snapshot
Package: *
Pin: origin snapshot.debian.org
Pin-Priority: -1

Package: podman
Pin: version {{ podman_pinned_version }}
Pin: origin snapshot.debian.org
Pin-Priority: 501

{% for pkg in podman_snapshot_extra_pins %}
Package: {{ pkg }}
Pin: origin snapshot.debian.org
Pin-Priority: 501
{% endfor %}

{% else %}
Package: podman
{%if podman_pinned_version %}Pin: version {{ podman_pinned_version }}{% endif %}
Pin: release n={{ podman_from_debian_release }}
Pin-Priority: 501
{% endif %}
