# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ mon_alertmanager_image }}
ContainerName=alertmanager
Network=monitor.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Label=io.containers.autoupdate=registry
Volume={{ mon_alertmanager_config_path }}:/etc/alertmanager:ro
Volume={{ mon_alertmanager_data_path }}:/alertmanager:rw
User=1000:1000
UserNS=keep-id:uid=1000,gid=1000
Exec={{ mon_alertmanager_exec_items | join(' ') }}

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
