# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ mon_cloudflared_image }}
ContainerName=cloudflared
Network=monitor.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Volume={{ mon_cloudflared_config_path }}:/etc/cloudflared:ro
Volume={{ mon_cloudflared_data_path }}:/root/.cloudflared:rw
Label=io.containers.autoupdate=registry
UserNS=keep-id:uid=1000,gid=1000
Exec={{ mon_cloudflared_exec_items | join(' ') }}

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
