# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ mon_grafana_image }}
ContainerName=grafana
Network=monitor.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Label=io.containers.autoupdate=registry
Volume={{ mon_grafana_config_path }}:/config:ro
Volume={{ mon_grafana_data_path }}:/var/lib/grafana:rw
Environment=GF_SERVER_DOMAIN={{ grafana_domain }}
Environment=GF_SERVER_ROOT_URL=https://{{ grafana_domain }}
Environment=GF_SERVER_SERVE_FROM_SUB_PATH=true
Environment=GF_USERS_ALLOW_SIGN_UP=false
Environment=GF_USERS_AUTO_ASSIGN_ORG=true
Environment=GF_USERS_AUTO_ASSIGN_ORG_ROLE=Admin
Environment=GF_DASHBOARDS_JSON_ENABLED
Environment=GF_AUTH_ANONYMOUS_ENABLED=false
Environment=GF_LIVE_ALLOWED_ORIGINS='*'
Environment=GF_PATHS_PROVISIONING=/config/provisioning
Environment=GF_AUTH_PROXY_ENABLED=true
Environment=GF_AUTH_PROXY_HEADER_NAME=X-CF-User
Environment=GF_AUTH_PROXY_HEADER_PROPERTY=username
Environment=GF_AUTH_PROXY_AUTO_SIGN_UP=true
Environment=GF_AUTH_PROXY_HEADERS=Email:X-CF-Email
Environment=GF_DATABASE_TYPE=postgres
Environment=GF_DATABASE_HOST={{ mon_grafana_database_host }}
Environment=GF_DATABASE_NAME={{ mon_grafana_database_name }}
Environment=GF_DATABASE_USER={{ mon_grafana_database_username }}
Environment=GF_DATABASE_PASSWORD={{ mon_grafana_database_password }}
Environment=GF_DATABASE_SSL_MODE=verify-full
Environment=GF_DATABASE_CA_CERT_PATH=/ca.crt
Mount=type=bind,src={{ rds_ssl_cert_file }},dst=/ca.crt,ro=true
User=1000:1000
UserNS=keep-id:uid=1000,gid=1000

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
