# Ansible managed
[Install]
WantedBy=default.target

[Container]
Image={{ mon_cfaccess_proxy_image }}
ContainerName=grafana-cfaccess
Network=monitor.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Label=io.containers.autoupdate=registry
Environment=AUTHDOMAIN={{ mon_cloudflare_auth_domain_url }}
Environment=POLICYAUD={{ mon_cloudflare_app_audience }}
Environment=FORWARDUSERHEADER=X-CF-User
Environment=FORWARDEMAILHEADER=X-CF-Email
Environment=FORWARDHOST=grafana:{{ mon_grafana_port }}
Environment=ADDR=0.0.0.0:{{ mon_cfaccess_port }}
Mount=type=bind,src=/etc/ssl/certs/ca-certificates.crt,dst=/etc/ssl/certs/ca-certificates.crt,ro=true
User=1000:1000

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
