<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GP OPS Monitoring</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
                font-weight: 500;
                background-color: #f4f4f4;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
            ul {
                list-style-type: none;
                padding: 0;
            }
            ul li a {
                display: block;
                text-decoration: none;
                background-color: #007bff;
                color: white;
                padding: 20px;
                font-size: 24px;
                border-radius: 8px;
                margin-bottom: 10px;
                transition: background-color 0.3s;
            }
            ul li a:hover, ul li a:focus {
                background-color: #0056b3;
            }
        </style>
    </head>
    <body>
        <ul>
            <li><a href="https://{{ grafana_domain }}">Grafana</a></li>
            <li><a href="/prometheus">Prometheus</a></li>
            <li><a href="/alertmanager">Alertmanager</a></li>
        </ul>
    </body>
</html>
