# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ mon_landing_image }}
ContainerName=landing
Network=monitor.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Label=io.containers.autoupdate=registry
Volume={{ mon_landing_data_path }}:/usr/share/nginx/html:ro
UserNS=keep-id:uid=101,gid=101

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
