# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ mon_ops_bot_image }}
ContainerName=ops-bot
Network=matrix-bot.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Label=io.containers.autoupdate=registry
PublishPort=0.0.0.0:{{ mon_ops_bot_port }}:1111
Volume={{ mon_ops_bot_config_path }}:/config:ro
Volume={{ mon_ops_bot_data_path }}:/data:rw
User=1000:1000
UserNS=keep-id:uid=1000,gid=1000

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
