# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ mon_prometheus_image }}
ContainerName=prometheus
Network=monitor.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Label=io.containers.autoupdate=registry
Volume={{ mon_prometheus_config_path }}:/etc/prometheus:ro
Volume={{ mon_prometheus_data_path }}:/prometheus:rw
User=1000:1000
UserNS=keep-id:uid=1000,gid=1000
Exec={{ mon_prometheus_exec_items | join(' ') }}

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
ExecReload=podman exec prometheus kill -SIGHUP 1
