# {{ ansible_managed }}
TAILSCALESD_CLIENT_ID={{ mon_tailscalesd_tailscale_client_id }}
TAILSCALESD_CLIENT_SECRET={{ mon_tailscalesd_tailscale_client_secret }}
TAILSCALESD_TAILNET={{ mon_tailscalesd_tailnet }}
TAILSCALESD_HOST=0.0.0.0
TAILSCALESD_BEARER_TOKEN={{ mon_tailscalesd_bearer_token }}
