# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ mon_tailscalesd_image }}
ContainerName=tailscalesd
Network=host
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
Label=io.containers.autoupdate=registry
UserNS=keep-id:uid=1000,gid=1000
Exec={{ mon_tailscalesd_exec_items | join(' ') }}
Mount=type=bind,src={{ mon_tailscalesd_config_path }}/tailscalesd.env,dst=/tailscalesd.env,ro=true
Environment=TAILSCALESD_ENV_FILE=/tailscalesd.env

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
