# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ cadvisor_image }}
ContainerName=cadvisor
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
PublishPort={{ cadvisor_container_metrics_host_bind_port }}:8080
Mount=type=bind,src={{ cadvisor_podman_socket_path }},dst=/podman.sock
PodmanArgs=--log-opt tag=CADVISOR
UserNS=keep-id:uid=1000,gid=1000
Exec=--podman=unix:///podman.sock

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
