# {{ ansible_managed }}
# This is the sygnal (push notification server) instance
[Install]
WantedBy=default.target

[Container]
Image={{ matrix_sygnal_image }}
ContainerName=matrix-sygnal
Network=matrix.network
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
# sygnal itself
PublishPort={{ matrix_sygnal_container_http_host_bind_port }}:6000
# prom metrics
PublishPort={{ matrix_sygnal_container_metrics_host_bind_port }}:8000
Volume={{ matrix_sygnal_config_path }}:/config:ro
Volume={{ matrix_sygnal_data_path }}:/data:rw
Environment=SYGNAL_CONF=/config/sygnal.yaml
PodmanArgs=--log-opt tag=MATRIX_SYGNAL
UserNS=keep-id:uid=1000,gid=1000

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
