# {{ ansible_managed }}
[Unit]
Description=Synapse worker {{ matrix_synapse_worker_details.name }}
AssertPathExists={{ matrix_synapse_config_dir_path }}/worker.{{ matrix_synapse_worker_details.name }}.yaml
After=matrix-synapse-primary.service
Requires=matrix-synapse-primary.service

[Install]
WantedBy=default.target

[Container]
Image={{ matrix_synapse_docker_image }}
ContainerName={{ matrix_synapse_worker_details.name }}
Network=matrix.network
Tmpfs=/tmp:rw,exec,nosuid,size={{ matrix_synapse_tmp_directory_size_mb|int|to_json }}m
DropCapability=all
{% if matrix_synapse_workers_enabled and matrix_synapse_workers_container_host_bind_address %}
{% if matrix_synapse_worker_details.port != 0 %}
# HTTP Port
PublishPort={{ '' if matrix_synapse_workers_container_host_bind_address == '*' else (matrix_synapse_workers_container_host_bind_address + ':') }}{{ matrix_synapse_worker_details.port }}:{{ matrix_synapse_worker_details.port }}
{% endif %}
{% if matrix_synapse_worker_details.metrics_port != 0 %}
# Metrics port
PublishPort={{ matrix_synapse_workers_metrics_container_host_bind_address }}:{{ matrix_synapse_worker_details.metrics_port }}:{{ matrix_synapse_worker_details.metrics_port }}
{% endif %}
{% endif %}
Mount=type=bind,src={{ matrix_synapse_config_dir_path }},dst=/data,ro=true
Mount=type=bind,src={{ matrix_synapse_storage_path }},dst=/matrix-media-store-parent,bind-propagation=slave
Mount=type=bind,src={{ matrix_synapse_database_certificate_host_path }},dst=/ca.crt,ro=true

{% if matrix_synapse_worker_details.port != 0 and matrix_synapse_worker_details.webserving %}
HealthCmd="curl -fSs http://localhost:{{ matrix_synapse_worker_details.port }}/health || exit 1"
{% else %}
PodmanArgs=--no-healthcheck
{% endif %}
Environment=PGSSLMODE=verify-full
Environment=PGSSLROOTCERT=/ca.crt
Environment=TZ=UTC
PodmanArgs=--log-opt tag=MATRIX_SYNAPSE --entrypoint=/usr/local/bin/python {{ matrix_synapse_container_arguments | join (' ') }}
Exec=-m synapse.app.{{ matrix_synapse_worker_details.app }} -c /data/homeserver.yaml -c /data/worker.{{ matrix_synapse_worker_details.name }}.yaml
ReadOnly=true
UserNS=keep-id:uid=1000,gid=1000

[Service]
Restart=always
TimeoutStartSec=60
RestartSec=10
