# {{ ansible_managed }}
[Unit]
Description=s3-storage-provider migrate service for synapse

[Container]
Image={{ matrix_synapse_docker_image }}
ContainerName=matrix-synapse-s3-storage-provider-migrate
Network=matrix.network
DropCapability=all
Tmpfs=/tmp:rw,noexec,nosuid,size=100m
UserNS=keep-id
EnvironmentFile={{ matrix_synapse_ext_s3_storage_provider_base_path }}/env
Mount=type=bind,src={{ matrix_synapse_storage_path }},dst=/matrix-media-store-parent,bind-propagation=slave
Mount=type=bind,src={{ matrix_synapse_ext_s3_storage_provider_data_path }},dst=/data
WorkingDir=/data
Network=matrix.network
PodmanArgs= --log-opt tag=MATRIX_SYNAPSE_S3_STORAGE_PROVIDER_MIGRATE --entrypoint=/bin/bash
Exec=-c 's3_media_upload update-db $UPDATE_DB_DURATION && s3_media_upload --no-progress check-deleted $MEDIA_PATH && s3_media_upload --no-progress upload $MEDIA_PATH $BUCKET --delete --storage-class $STORAGE_CLASS --endpoint-url $ENDPOINT {% if matrix_synapse_ext_synapse_s3_storage_provider_config_sse_customer_enabled %}--sse-customer-algo $SSE_CUSTOMER_ALGO --sse-customer-key $SSE_CUSTOMER_KEY{% endif %}'


[Service]
Type=oneshot
