# {{ ansible_managed }}
[Unit]
Description=Redis for matrix replication
Before=matrix-synapse-primary.service

[Install]
WantedBy=default.target

[Container]
Image={{ matrix_redis_image }}
ContainerName=matrix-redis
Network=matrix.network
DropCapability=all
Environment=ALLOW_EMPTY_PASSWORD=yes
Mount=type=bind,src={{ matrix_redis_base_path }}/redis.conf,dst=/opt/bitnami/redis/mounted-etc/redis.conf,ro=true
Mount=type=bind,src={{ matrix_redis_data_path }},dst=/bitnami/redis/data
Tmpfs=/tmp:rw,noexec,nosuid,size=100m
UserNS=keep-id
{% if matrix_redis_container_redis_bind_port %}
PublishPort={{ matrix_redis_container_redis_bind_port }}:6379
{% endif %}
PodmanArgs=--log-opt tag=REDIS

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=30
