# {{ ansible_managed }}
[Unit]
Description=Redis exporter

[Install]
WantedBy=default.target

[Container]
Image={{ matrix_redis_exporter_image }}
ContainerName=matrix-redis-exporter
Network=matrix.network
DropCapability=all
Environment=ALLOW_EMPTY_PASSWORD=yes
Mount=type=bind,src={{ matrix_redis_base_path }}/password-file,dst=/redis-password,ro=true
Tmpfs=/tmp:rw,noexec,nosuid,size=100m
UserNS=keep-id
{% if matrix_redis_exporter_container_redis_host_bind_port %}
PublishPort={{ matrix_redis_exporter_container_redis_host_bind_port }}:9121
{% endif %}
EnvironmentFile={{ matrix_redis_base_path }}/env.exporter

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=30
