# {{ ansible_managed }}
[Unit]
Description=Synapse primary instance
{% for service in matrix_synapse_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_synapse_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

{% if matrix_synapse_workers_enabled %}
{% for matrix_synapse_worker_details in matrix_synapse_workers_enabled_list %}
Wants={{ matrix_synapse_worker_details.name }}.service
{% endfor %}
{% endif %}
DefaultDependencies=no

[Install]
WantedBy=default.target

[Container]
Image={{ matrix_synapse_docker_image }}
ContainerName=matrix-synapse-primary
Network=matrix.network
Tmpfs=/tmp:rw,exec,nosuid,size={{ matrix_synapse_tmp_directory_size_mb|int|to_json }}m
DropCapability=all
PublishPort={{ matrix_synapse_container_client_api_host_bind_port }}:8008
{% if matrix_synapse_federation_enabled and matrix_synapse_tls_federation_listener_enabled and matrix_synapse_container_federation_api_tls_host_bind_port %}
PublishPort={{ matrix_synapse_container_federation_api_tls_host_bind_port }}:8448
{% endif %}
{% if matrix_synapse_federation_enabled and matrix_synapse_container_federation_api_plain_host_bind_port %}
PublishPort={{ matrix_synapse_container_federation_api_plain_host_bind_port }}:8048
{% endif %}
{% if matrix_synapse_metrics_enabled and matrix_synapse_container_metrics_api_host_bind_port %}
PublishPort={{ matrix_synapse_container_metrics_api_host_bind_port }}:{{ matrix_synapse_metrics_port }}
{% endif %}
{% if matrix_synapse_manhole_enabled and matrix_synapse_container_manhole_api_host_bind_port %}
PublishPort={{ matrix_synapse_container_manhole_api_host_bind_port }}:9000
{% endif %}
Volume={{ matrix_synapse_config_dir_path }}:/data:ro
Volume={{ matrix_synapse_storage_path }}:/matrix-media-store-parent:rw
Mount=type=bind,src={{ matrix_synapse_database_certificate_host_path }},dst=/ca.crt,ro=true
Environment=PGSSLMODE=verify-full
Environment=PGSSLROOTCERT=/ca.crt
Environment=TZ=UTC
ReadOnly=true
UserNS=keep-id:uid=1000,gid=1000
PodmanArgs=--log-opt tag=MATRIX_SYNAPSE --entrypoint=/usr/local/bin/python  {{ matrix_synapse_container_arguments | join (' ') }}
Exec=-m synapse.app.homeserver -c /data/homeserver.yaml
[Service]
Restart=always
TimeoutStartSec=300
RestartSec=10
