# {{ ansible_managed }}
[Unit]
Description=Matrix sliding sync
DefaultDependencies=no

[Install]
WantedBy=default.target

[Container]
Image={{ matrix_sliding_sync_container_image }}
EnvironmentFile={{ matrix_sliding_sync_base_path }}/env
ContainerName=matrix-sliding-sync
Network=matrix.network
DropCapability=all
PublishPort={{ matrix_synapse_sliding_sync_container_client_api_host_bind_port }}:8008
PublishPort={{ matrix_synapse_sliding_sync_metrics_container_client_api_host_bind_port }}:9100
ReadOnly=true
Tmpfs=/tmp
Mount=type=bind,src={{ matrix_synapse_database_certificate_host_path }},dst=/ca.crt,ro=true
Environment=PGSSLMODE=verify-full
Environment=PGSSLROOTCERT=/ca.crt
UserNS=keep-id:uid=1000,gid=1000
PodmanArgs=--log-opt tag=MATRIX_SLIDING_SYNC

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=30
