# {{ ansible_managed }}
[Unit]
Description=Matrix synapse auto compressor
DefaultDependencies=no

[Install]
WantedBy=default.target

[Container]
Image={{ matrix_synapse_auto_compressor_container_image }}
EnvironmentFile={{ matrix_synapse_auto_compressor_base_path }}/env
ContainerName=matrix-synapse-auto-compressor
Network=matrix.network
DropCapability=all
ReadOnly=true
Tmpfs=/tmp
Mount=type=bind,src={{ matrix_synapse_database_certificate_host_path }},dst=/ca.crt,ro=true
Environment=PGSSLMODE=verify-full
Environment=PGSSLROOTCERT=/ca.crt
UserNS=keep-id:uid=1000,gid=1000
PodmanArgs=--log-opt tag=MATRIX_SYNAPSE_AUTO_COMPRESSOR --entrypoint /bin/sh
Exec=-c '{{ matrix_synapse_auto_compressor_command }}'

[Service]
Type=oneshot
