SYNCV3_SERVER={{ matrix_sliding_sync_environment_variable_syncv3_server }}
SYNCV3_SECRET={{ matrix_sliding_sync_environment_variable_syncv3_secret }}
SYNCV3_BINDADDR=:8008
SYNCV3_DB={{ matrix_sliding_sync_environment_variable_syncv3_db }}
{% if matrix_sliding_sync_environment_variable_syncv3_max_db_conn %}
SYNCV3_MAX_DB_CONN={{ matrix_sliding_sync_environment_variable_syncv3_max_db_conn }}
{% endif %}
SYNCV3_PROM=:9100

{{ matrix_sliding_sync_environment_variables_additional_variables }}
