# {{ ansible_managed }}
[Install]
WantedBy=default.target

[Container]
Image={{ postgres_exporter_image }}
ContainerName=postgres-exporter
Tmpfs=/tmp:rw,exec,nosuid,size=10m
DropCapability=all
PublishPort={{ postgres_exporter_container_metrics_host_bind_port }}:9187
PodmanArgs=--log-opt tag=POSTGRES_EXPORTER
UserNS=keep-id:uid=1000,gid=1000
Environment=DATA_SOURCE_URI_FILE

[Service]
Restart=always
TimeoutStartSec=30
RestartSec=10
